td, th{
    text-align: center;
    vertical-align: middle;
}

.iconAdminTable{
    cursor: pointer;
    padding:.6rem;
}

.iconAdminTable:hover{
    background-color: rgb(229, 229, 229);
}

.flex-container-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.td-footer:hover{
    background-color: rgb(218, 249, 172);
    cursor: pointer;
}